@tailwind base;
@tailwind components;
@tailwind utilities;

article {
  h1 {
    font-size: xx-large;
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #4c4c4c;
    padding-bottom: 5px;
  }
  h2 {
    font-size: x-large;
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #4c4c4c;
  }
  h3 {
    font-size: large;
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #4c4c4c;
  }

  blockquote {
    border-left: 3px solid #494949;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #cbcbcb;
  }

  hr {
    margin-top: 15px;
    border-color: #4c4c4c;
  }

  a {
    color: cyan;
  }

  ol {
    margin-left: 20px;
    & > li {
      list-style-type: decimal;
    }
  }

  ul {
    margin-left: 20px;

    & > li {
      list-style-type: disc;
    }
  }

  p > a > img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img {
    border-radius: 2px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
  }

  th {
    background-color: #101010;
  }

  td,
  th {
    border: 1px solid #4c4c4c;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #101010;
  }
}
